<div class="d-flex align-items-center justify-content-between">
  <h2 class="text-center">Twitter Accounts</h2>
  <% if Current.user %>
    <div class="my-4">
      <%= button_to 'Connect Twitter', '/auth/twitter', method: :post, class: 'btn btn-lg btn-primary' %>
    </div>
  <% end %>
</div>

<% @twitter_accounts.each do |twitter_account| %>
  <div class="d-flex align-items-center justify-content-between mb-4">
    <div class="me-4">
      <%= image_tag twitter_account.image, class: 'rounded-circle' %>
      <%= content_tag :span, twitter_account.name, class: 'mx-2' %>
      <%= link_to "@#{twitter_account.username}", "https://twitter.com/#{twitter_account.username}", target: :_blank %>
    </div>
    <%= button_to 'Disconnect', twitter_account, method: :delete, class: 'btn btn-sm btn-danger', data: {
      confirm: 'Are you sure?'
    } %>
  </div>
<% end %>
